.skills{
    background: var(--color-light);
    position: relative;
}
.skills-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10rem;
    
}
.frontend-skills{
    background: var(--color-primary);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.frontend-skills h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-dark);
}
.skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    
}
article .text-light{
    color: rgb(211, 211, 207);
}
.skills-details{
    display: flex;
    gap: .5rem;
}
.skills-details .i{
    margin-top: 6px;
}

@media screen and (max-width: 1024px){
    .skills{
        height: 60vh;
    }
    .skills-container{
        margin-top: 7rem;
    }
    .frontend-skills{
        padding: 3rem;
    }
}
@media screen and (max-width: 768px){
    .skills-container{
        padding: 0rem;
        margin-top: 0rem;
    }
    .skills-content{
        padding-left: 0rem;
    }
}
@media screen and (max-width: 435px){
    .skills{
        height: 100vh;
    }
    .skills-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
    .frontend-skills{
        margin: 0 1rem;
        padding: 2rem 0;
        border-radius: 2rem;
        border: 1px solid transparent;
        box-shadow: 3px 3px 5px 6px #ccc;
        position: absolute;
        top: 9rem;
        right: .5rem;
        
    }
}

@media screen and (max-width: 375px){
    .skills{
        height: 100vh;
    }
    .frontend-skills{
        position: absolute;
        top: 7rem;
        right: .5rem;
    }
}