.portfolio{
    background: var(--color-white);
    height: 100%;
}
.portfolio-container{
    width: min(90%, 70.5rem);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; 
}
.item{
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.item img{
    height: 90%;
    border-radius: 20px;
}
.overlay{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 90%;
    transition: opacity 0.5s ease-in-out;
    background: var(--color-primary);
    cursor: pointer;
    border-radius: 20px;
}
.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.porfolio-item:hover .overlay{
    opacity: 0.7;
}
.overlay-icon{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.overlay-icon .icon{
    color: var(--color-dark);
}

@media screen and (max-width: 1024px){
    .portfolio{
        height: 100%;
    }
}
@media screen and (max-width: 768px){
    .portfolio{
        height: 100%;
    }
    /*  */
}
@media screen and (max-width: 435px){
    .portfolio{
        height: 100%;
    }
 
    @media screen and (max-width: 375px){
        .portfolio{
            height: 100%;
        }
    }
}

